<div class="header">
    <div class="header__top container">
        <div class="wrapper row">
            <div class="shop-data col-md-9">
                <div class="shop-data__shop-icon">
                    <img src="../../assets/Images/map-marker.svg" alt="" />
                </div>
                <div class="shop-data__shop-region">
                    <span>Санкт-Петербург</span>
                    <a href="" class="shop-data__shop-current-region">Петроградская</a>
                </div>
                <div class="shop-data__shop-adress">
                    <span>ул.Инструментальная 3</span>
                </div>
                <div class="shop-data__shop-phone">
                    <img src="../../assets/Images/phone.svg" alt="Alternate Text" />
                    <p>+7(952)1488-1488</p>
                </div>
            </div>
            <div class="header__autorization col-md-3">
                <profile></profile>
            </div>
        </div>
    </div>
    <div class="header__bottom container">
        <div class=" wrapper row">
            <div class="header__bottom-logo col-md-4 mb-3">
                <a href="">
                    <img src="../../assets/Images/logo.png" alt="" />
                </a>
                <div class="header__bottom-logo-text">
                    интернет-магазин автоаксессуаров
                </div>
            </div>
            <div class="header-search col-md-5 align-items-center mb-3">
                <div class="header-search__text">Поиск</div>
                <div class="header-search__input input-group">
                    <input type="text" class="form-control" placeholder="Введите артикул">
                    <div class="header-search__button input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Поиск</button>
                    </div>
                </div>
            </div>
            <div class="cart col-md-3 align-items-start">
                <a class="cart__image" href=""></a>
                <div class="cart__info">
                    <a class="cart__text" href="">Корзина</a>
                    <div class="cart__number-items">
                        Товаров
                        <!-- <span>@Session["CountInCart"]</span> -->
                    </div>
                    <div class="cart__total-cost">
                        Сумма
                        <!-- <span>@Session["TotalConstInCart"]</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>